html {
  background-color: papayaWhip;
}

body {
  /*border: 1px solid black;*/
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline
}

header {
  /*border: 1px solid black;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  margin: 0px;
}

h4 {
  margin: 0px;
  font-style: italic;
}

button {
  visibility: hidden;
}

.run-mode-selection {
  background-color: yellow;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

#selection-div {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}

.selected {
  background-color: orange;
}

#selection-list {
  visibility: hidden;
}

#select-sample-list {
  visibility: hidden;
}

.select-sample-item {
  margin-right: 15px;
}

.selection-item {
  margin-right: 10px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  margin-top: 5px;  
}

.select-sample-item {
  margin-right: 10px;
  display: inline-block;
  text-decoration: none;
}

.seed-selection {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
}

#speed-selection {
  margin-right: 10px;
}

#stats-div {
  visibility: hidden;
  background-color: white;
/*  margin-bottom: 20px;*/
}

.stats-item {
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.stats-item p {
  /*border: 1px solid blue;*/
  display: inline;
}

#grid_div {
  display: table;
  /*border: 1px solid black;*/
  /*background-color: white;*/
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
}

/*.cell {
  background-color: pink;
}*/


.grid_row {
  display: table-row;
  height: 20px;
  /*border: 1px solid black;*/
  /*background-color: white;*/
}

.grid_col_cell {
  display: table-cell;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  /*background-color: white;*/
  height: inherit;
  width: 20px;
}

#controls-div {
  /*border: 1px solid black;*/
  text-align: center;
}

/*
#controls {
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  margin-left: 100px;
}*/

/*#create-button {

}*/

#set-seed-button {
  margin-bottom: 5px;
}

#start-run-pause-button {
  margin-right: 5px;
}

#done-button {
  margin-left: 5px;
}

#intro {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  max-width: 60%;
  text-align: left;
  padding: 10px;
}

#instructions {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  max-width: 60%;
  text-align: left;
  padding: 10px;
}

#references{
  margin: 10px;
}

footer {
  margin-top: 5px;
  margin-bottom: 5px;
}
