html {
  background-color: papayaWhip;
}

h1 {
  text-align: left;
  margin-left: 100px;
}

#grid_div {
  display: table;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  margin-left: 100px;
}

/*.cell {
  background-color: pink;
}
*/

.grid_row {
  display: table-row;
  height: 20px;
  border: 1px solid black;
  background-color: white;
}

.grid_col_cell {
  display: table-cell;
  border: 1px solid black;
  background-color: white;
  height: inherit;
  width: 20px;
}

/*#controls_div {
  text-align: center;
}

#controls {
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  margin-left: 100px;
}*/

